#blue {
    color:rgb(7, 160, 248);
}

#red {
    color: red;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: rgb(223, 223, 82);
}

.color-title {
    font-weight: normal;
}

img {
    height: 200px; width: 200px;
}

*{
    text-align:center;
}
